.Result{
  float:left;
  width:65%;
  height:100%;
  padding-left:39%;
  overflow: auto;
  font-size: 44px;
}

.Result .ResultData{
  border-radius: 5px;
  text-align: center;
  float:left;
  width:30%;
  margin-top:10px;
  margin-left:10px;
  background-color: #1afe49;
  color: #29132e;
  cursor: default;
}